footer{
background-color: #1E1E1F;
color: white;
padding: 200px;
}
.card-footer {
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
}
.card-footer ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    cursor: pointer;
}
